doctype html
html
  head
    title= 'Common Terms Registry User Management Interface'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      #header
        Here is the default header.
      #content
        block content
          Here is the default content.
      #footer
        Here is the default footer.