doctype html
html
  head
    title= 'Common Terms Registry User Management Interface'
    link(rel='stylesheet', href='/tr/_design/app/vendor/jqueryui/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='/tr/_design/app/vendor/twbs/css/bootstrap.min.css')
    link(rel='stylesheet', href='/_l/stylesheets/style.css')
    link(rel='stylesheet', href='/tr/_design/app/style/main.css')

    script(src='/_utils/script/sha1.js')
    script(src='/_utils/script/json2.js')
    script(src='/_utils/script/jquery.js')
    script(src='/_utils/script/jquery.couch.js')
    script(src='/tr/_design/app/vendor/couchapp/jquery.couchLogin.js')
    script(src='/tr/_design/app/vendor/couchapp/jquery.couchProfile.js')
    script(src='/tr/_design/app/vendor/couchapp/md5.js')
    script(src='/tr/_design/app/vendor/couchapp/jquery.mustache.js')
    script(src='/tr/_design/app/vendor/handlebars/handlebars.js')
    script(src='/tr/_design/app/vendor/jquery-cookie/jquery.cookie.js')
    script(src='/tr/_design/app/vendor/jqueryui/ui/jquery-ui.js')
    script(src='/tr/_design/app/vendor/twbs/js/bootstrap.min.js')

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    #container
      #header(class=['container'])
          div(class=['navbar','navbar-invert'],role='navigation')
            div(class=['navbar-header','col-md-3','col-xs-12'])
              a(class=['navbar-brand'], href="#")
                |Common Terms Registry
            div(class=['navbar-header','col-md-4','col-xs-12'])
              ul(class=['nav','navbar-nav'])
                li(class=['col-md-6','col-xs-6'])
                  a(href="/tr/_design/app/index.html")
                    |Home
                li(class=['col-md-6','col-xs-6'])
                  a(href='/tr/_design/app/about.html')
                    |About
            div(class=['navbar-header','col-md-4','col-xs-8'])
              #account
            div(class=['pull-right','col-md-1','col-md-offset-0','col-xs-1','col-xs-offset-3'])
      #content(class=['container'])
        block content
      #footer(class=['container'])
          div(class=['pull-left'])
            p
              a(href='http://www.facebook.com/pages/Raising-the-Floor/126327625358?ref=ts')
                img(alt='Follow RtF on Facebook',src='/tr/_design/app/images/facebook.png')

              a(href='http://twitter.com/RaisingTheFloor')
                img(alt="Follow RtF on Twitter",src="/tr/_design/app/images/twitter.png")

              a(href='http://www.linkedin.com/groups?home=&amp;gid=2080517&amp;trk=anet_ug_hm')
                img(alt="Follow RtF on LinkedIn",src="/tr/_design/app/images/linkedin.png")
            p
              a(href="http://raisingthefloor.org/",target="_blank")
                |Raising the Floor - International
              br
              |Geneva, 1204 Switzerland
              br
              |+41 22 518 07 95
            p
              a(href="mailto:info@RaisingTheFloor.org")
                |info@RaisingTheFloor.org
            div(class="pull-right")
              #profile
