<script id="aliases" type="text/html">
{{#if aliases}}
    <ul class="aliases">
    {{#each aliases}}
        <li><a target="_blank" href="/tr/_design/app/_show/edit/{{_id}}">{{value/uniqueId}} ({{value/source}})</a></li>
    {{/each}}
    </ul>
{{/if}}
</script>

<script id="definition" type="text/html">
    {{#if definition}}<p class="definition">{{definition}}</p>{{/if}}
</script>

<script id="notes" type="text/html">
        {{#if notes}}<a class="glyphicon glyphicon-file" title="{{notes}}"></a>{{/if}}
</script>

<script id="uses" type="text/html">
        {{#if uses}}<a class="glyphicon glyphicon-file" title="{{uses}}"></a>{{/if}}
</script>

<script id="unreviewedComments" type="text/html">
        {{#if unreviewedComments}}<a class="glyphicon glyphicon-file" title="{{unreviewedComments}}"></a>{{/if}}
</script>

<script id="value" type="text/html">
    {{#if valueSpace}}
        <p class="valueSpace">{{valueSpace}}</p>
    {{/if}}
</script>

<script id="edit" type="text/html">
    <a title="View/Edit Record" class="glyphicon glyphicon-pencil edit-icon" target="_blank" href="_show/edit/{{_id}}" onClick="return loadEditDialog('{{_id}}')"></a>
</script>

<script id="delete" type="text/html">
{{#unless isDeleted}}
    <form id="delete-{{_id}}-form">
        <input type="hidden" name="_id" value="{{_id}}"/>
        <input type="hidden" name="_rev" value="{{_rev}}"/>
        <input type="hidden" name="uniqueId" value="{{uniqueId}}"/>
        <input type="hidden" name="type" value="{{type}}"/>
        <input type="hidden" name="status" value="deleted"/>
        {{#if termLabel}}<input type="hidden" name="termLabel" value="{{termLabel}}"/>{{/if}}
        {{#if valueSpace}}<input type="hidden" name="valueSpace" value="{{valueSpace}}"/>{{/if}}
        {{#if definition}}<input type="hidden" name="definition" value="{{definition}}"/>{{/if}}
        {{#if notes}}<input type="hidden" name="notes" value="{{notes}}"/>{{/if}}
        {{#if uses}}<input type="hidden" name="uses" value="{{uses}}"/>{{/if}}
        {{#if source}}<input type="hidden" name="source" value="{{source}}"/>{{/if}}
        {{#if aliasOf}}<input type="hidden" name="aliasOf" value="{{aliasOf}}"/>{{/if}}
        {{#if translationOf}}<input type="hidden" name="translationOf" value="{{translationOf}}"/>{{/if}}

        <div class="dialog-content"></div>
    </form>
    <a title="Delete Record" href="#" onClick="loadDeleteDialog('{{_id}}');return false" class="glyphicon glyphicon-trash delete-icon"></a>
{{/unless}}
</script>

<script id="loading-template" type="text/html">
    <div id="dialog-content" align="center">
        <p>Loading...</p>
    </div>
</script>

<script id="delete-template" type="text/html">
    <div id="dialog-content" align="center">
        <p>Are you sure you want to move this record to the trash?  (It can be recovered later by any administrator.)</p>
    </div>
</script>

<script id="header-template" type="text/html">
    <div class="navbar navbar-invert" role="navigation">
        <div class="navbar-header col-md-3 col-xs-12">
            <a class="navbar-brand" href="#">Common Terms Registry</a>
        </div>
        <div class="navbar-header col-md-4 col-xs-12">
            <ul class="nav navbar-nav">
                <li class="col-md-6 col-xs-6"><a href="index.html">Home</a></li>
                <li class="col-md-6 col-xs-6"><a href="about.html">About</a></li>
            </ul>
        </div>
        <div class="navbar-header col-md-4 col-xs-8">
            <div id="account"></div>
        </div>
        <div class="pull-right col-md-1 col-md-offset-0 col-xs-1 col-xs-offset-3">
            <div class="nav navbar-nav pull-right">
                <a id="control-toggle" class="glyphicon glyphicon-collapse-up" href="#" title="Open Settings Panel" style="display:none"></a>
            </div>
        </div>
    </div>
</script>

<script id="login-message-template" type="text/html">
    <div id="login-message" class="alert alert-danger">
        <p>You must log in to view the registry.  Not already a member?  <a href="/_l/signup">Sign up for an account now.</a></p>
    </div>
</script>

<script id="login-error-template" type="text/html">
    <div id="login-message" class="alert alert-danger">
        <p>The username or password you entered was not correct.<p>
        <p>Forgot your password?  <a href="/_l/forgot-password">Reset your password now.</a></p>
        <p>Don't have an account?  <a href="/_l/signup">Create an account now.</a></p>
    </div>
</script>

<script id="verification-message-template" type="text/html">
    <div class="alert alert-danger">
        <p>
            You will need to verify the email address associated with your account before continuing.  Please check your mail or <a href="/_l/signup/resend-verification">resend the verification email to your email address</a>.
        </p>
    </div>
</script>

<script id="login-profile-template" type="text/html">
</script>

<script id="footer-template" type="text/html">
    <div class="pull-left">
        <p><a href="http://www.facebook.com/pages/Raising-the-Floor/126327625358?ref=ts"><img alt="Follow RtF on Facebook" src="images/facebook.png"></a> <a href="http://twitter.com/RaisingTheFloor"><img alt="Follow RtF on Twitter" src="images/twitter.png"></a> <a href="http://www.linkedin.com/groups?home=&amp;gid=2080517&amp;trk=anet_ug_hm"><img alt="Follow RtF on LinkedIn" src="images/linkedin.png"></a></p>
        <p>
            <a href="http://raisingthefloor.org/" target="_blank">Raising the Floor - International</a><br>
            Geneva, 1204 Switzerland<br>
            +41 22 518 07 95</p>
        <p><a href="mailto:info@RaisingTheFloor.org">info@RaisingTheFloor.org</a></p>
    </div>

    <div class="pull-right">
        <div id="profile"></div>
    </div>
</script>

<script id="controls-template" type="text/html">
    <div id="control-panel">
        <div class="col-md-4 col-xs-12">
            <div class="col-md-3 col-xs-3 cpl-icon">
                <h4><a id="general-type-toggle" href="#" class="type-toggle glyphicon glyphicon-tree-deciduous" title="View Terms"></a></h4>
                Terms
            </div>
            <div class="col-md-3 col-xs-3 cpl-icon">
                <h4><a id="alias-type-toggle" href="#" class="type-toggle glyphicon glyphicon-leaf disabled" title="View Aliases"></a></h4>
                Aliases
            </div>
            <div class="col-md-3 col-xs-3 cpl-icon">
                <h4><a id="translation-type-toggle" href="#" class="type-toggle glyphicon glyphicon-globe disabled" title="View Translations"></a></h4>
                Translations
            </div>
            <div class="col-md-3 col-xs-3 cpl-icon">
                <h4><a id="operator-type-toggle" href="#" class="type-toggle glyphicon glyphicon-tower disabled" title="View Operators"></a></h4>
                Operators
            </div>
        </div>

        <div class="col-md-4 col-xs-12">
            <div class="col-md-3 col-xs-3 cpl-icon">
                <h4><a id="live-record-toggle" href="#" class="filter-toggle glyphicon glyphicon-check" title="View Active Records"></a></h4>
                Active
            </div>
            <div class="col-md-3 col-xs-3 cpl-icon">
                <h4><a id="candidate-record-toggle" href="#" class="filter-toggle glyphicon glyphicon-unchecked disabled" title="View Unreviewed Records"></a></h4>
                Candidate
            </div>
            <div class="col-md-3 col-xs-3 cpl-icon">
                <h4><a id="unreviewed-record-toggle" href="#" class="filter-toggle glyphicon glyphicon-question-sign disabled" title="View Unreviewed Records"></a></h4>
                Unreviewed
            </div>
            <div class="col-md-3 col-xs-3 cpl-icon">
                <h4><a id="deleted-record-toggle" href="#" class="filter-toggle glyphicon glyphicon-trash disabled" title="View Deleted Records"></a></h4>
                Deleted
            </div>
        </div>

        <div class="col-md-1 col-xs-3 cpl-icon">
            <h4><a id="comments-toggle" href="#" class="comments-toggle glyphicon glyphicon-comment disabled" title="Display Records with Unreviewed Comments"></a></h4>
            Comments
        </div>

        <div class="col-md-2 col-xs-6">
            <form onSubmit="return false;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input type="text" class="form-control" id="queryString">
                                <span class="input-group-btn">
                                <button class="btn btn-default" id="filter-button" type="button">Filter</button>
                                </span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <span class="help-block">Filter by a single word or phrase.</span>
                    </div>
                </div>
            </form>
        </div>

        <div id="add-panel" class="col-md-1 col-xs-3 cpl-icon">
            <div id="add-button" class="cpl-icon">
                <h4><a id="create-record-link" onClick="return loadEditDialog()" href="/tr/_design/app/_show/edit/" target="_blank" class="glyphicon glyphicon-plus" title="Add Record"></a></h4>
                Add
            </div>
        </div>
    </div>
</script>