<div class="body">
    <div class="row">
        <div class="column small-offset-1 small-11"  id="main-viewport">
            <div class="loading">Loading...</div>
        </div>
    </div>
</div>

<!-- include our fluid modules -->
<script src="/js/components/search.js"></script>
<script src="/js/components/profile.js"></script>
<script type="text/javascript">
    $(document).foundation();

    var search =ctr.components.search(".ptd-search-form");
    var profile = ctr.components.profile("#profile");

    search.refresh();
</script>

