
/* pager fPager styles */

.fpager-pager-container {
    width:95%;
    margin: 0 auto;
}

.fpager-pager-container input {
    width: 3em;
}

.fpager-pager-container .hidden {
    display: none;
}

.fpager-pager-container a:visited {
    color: blue;
}

.fpager-pager-container a:hover{
    outline: 2px #000 solid;
    padding:0px;
}

.fpager-pager-container  a.fl-pager-disabled {
    text-decoration: none;
    color: inherit;
}

/***********************************************
 * Styles for table formatting.
 */

.fpager-pager-container table {
    width: 100%;
}

.fpager-pager-container thead {
    color: #343499;
    background-color: #E6E7E8;
}

.fpager-pager-container td {
    padding: .25em .75em;
}

.fpager-pager-head-select { width:5%; }
.fpager-pager-head-members { width:25%; }
.fpager-pager-head-email { width:25%; }
.fpager-pager-head-role { width:15%; }
.fpager-pager-head-comments { color: #000; }

/***********************************************
 * The horizontal pager bar containing Previous, Next, and Page links.
 */
.fpager-pager-bar  {
    min-width: 555px;
    margin-left: 0em;
}

.fpager-pager-bar  li  {
    display:inline;
    float:left;
}
.fpager-pager-container a {
    height: 3em;
}
/***********************************************
 * Previous and Next default and hover styles
 */

.fpager-pager-previous, .fpager-pager-next {
    margin: 1px;
    padding: 2px 6px 2px 6px; /* padding values to align Next and Previous links to Page numbered links */
}

/***********************************************
 * Styles for the list of numerated page links.
 */
.fpager-pager-links  {
    margin:0em; /* This is to override FSS-reset's ol and ul styling. We should handle this better. */
}

.fpager-pager-pageLink-default a {
    /* Using display:block and float:left, it creates helps create a horizontal list with fixed width elements.*/
    display:block;
    float:left;

    width:3em;
    text-align:center;
    margin:2px;
    border: 1px solid #afafaf;
}

.fpager-pager-pageLink-default a {
    text-decoration: none;
}

.fpager-pager-links .fl-pager-currentPage {
    color: #fff;
    display:block;
    width:3em;
    float:left;
    background: #000;
    padding:0px;
    margin:2px;
    border: 1px solid #000;
    text-align:center;
}

.fpager-pager-links .fl-pager-currentPage:visited {
    color: #fff;
}

.fpager-pager-head a {
    display:block;
    width:100%;
}

/***********************************************
 * Styles for pager size selector.
 */
.fpager-pager-page-size {
    margin-top: 10px;/* horizontal align page size selector to the pager bar. */
}

.fpager-pager-page-size  label {
    margin-right: 2px;
}
