tr.jtable-data-row {
    vertical-align: top;
}

div.jtable-main-container>div.jtable-bottom-panel {
    color: #000;
}

.navbar-invert {
    color:white;
    background-color: #4C4D4F;
}

.navbar-invert a {
    color:white;
}

#footer {
    border-top: 2px solid #cccccc;
    padding-top: 1em;
    margin-top: 1em;
}

.cpl-icon {
    text-align: center;
}

.cpl-icon h4 {
    margin-top: 0px;
}

#account {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar .glyphicon {
    padding-top: 13px;
}
.glyphicon {
    font-size: 1.5em;
}

a.glyphicon {
    color: inherit;
}

.filter-toggle.disabled, .type-toggle.disabled, .comments-toggle.disabled {
    color: #cccccc;
}

#controls {
    margin-bottom: 1em;
}