tr.jtable-data-row {
    vertical-align: top;
}

.navbar-invert {
    color:white;
    background-color: #4C4D4F;
}

.navbar-invert a {
    color:white;
}

#account {
    padding-top: 15px;
    padding-bottom: 15px;
}