<!DOCTYPE html>
<html>
  <head>
    <title>Preference Terms Dictionary</title>

    <!-- include foundation -->

    <script src="/bc/jquery/dist/jquery.js"></script>
    <script src="/js/infusion/framework/core/js/Fluid.js"></script>
    <script src="/js/infusion/framework/renderer/js/fluidRenderer.js"></script>
    <script src="/js/infusion/framework/renderer/js/RendererUtilities.js"></script>

    <!-- include our styles -->
    <!-- include our fluid modules -->
    <script src="/js/components/profile.js"></script>
  </head>
  <body>
    <!-- include the header -->
    {{> header}}

    {{body}}

    <!-- include the footer -->
    {{> footer}}
  </body>
</html>
