<!doctype html>
<html>
  <head>
    <title>{{{title}}}</title>
    {{>head}}
  </head>
  <body>
  <div id="header" class="container">
      {{>header}}
  </div>

  <div id="content" class="container">
      {{{body}}}
  </div>

  <div id="footer" class="container">
      {{>footer}}
  </div>
  </body>
</html>
