<script id="aliases" type="text/html">
    <ul class="aliases"></ul>
</script>

<script id="alias-list-entry" type="text/html">
<li><a target="_blank" href="/_utils/document.html?tr/{{_id}}">{{uniqueId}} ({{source}})</a></li>
</script>

<script id="definition" type="text/html">
    {{#definition}}<p class="definition">{{definition}}</p>{{/definition}}
    {{#notes}}<p class="notes">{{notes}}</p>{{/notes}}
    {{#uses}}<p class="notes">USES: <br/>{{uses}}</p>{{/uses}}
</script>

<script id="value" type="text/html">
    {{#valueSpace}}
        <p class="valueSpace">{{valueSpace}}</p>
    {{/valueSpace}}
    {{#defaultValue}}
        <p class="defaultValue">Suggested Default: {{defaultValue}}</p>
    {{/defaultValue}}
</script>

<script id="action" type="text/html">
    <a target="_blank" href="/_utils/document.html?tr/{{_id}}">View/Edit</a><br/>
</script>


<script id="header-template" type="text/html">
    <div id="account"></div>
    <h1>{{title}}</h1>
</script>

<script id="footer-template" type="text/html">
    <div id="footer-inner" class="footer-inner inner clearfix">
        <div id="block-block-6" class="block block-block odd first grid16-3" role="complementary">
            <div class="inner clearfix">
                <div class="content clearfix">
                    <p>
                        <a href="http://www.facebook.com/pages/Raising-the-Floor/126327625358?ref=ts"><img alt="Follow RtF on Facebook" src="images/facebook.png"></a> <a href="http://twitter.com/RaisingTheFloor"><img alt="Follow RtF on Twitter" src="images/twitter.png"></a> <a href="http://www.linkedin.com/groups?home=&amp;gid=2080517&amp;trk=anet_ug_hm"><img alt="Follow RtF on LinkedIn" src="images/linkedin.png"></a></p>
                    <p>
                        <b>Raising the Floor - International</b><br>
                        Geneva, 1204 Switzerland<br>
                        +41 22 518 07 95</p>
                    <p>
                        <a href="mailto:info@RaisingTheFloor.org">info@RaisingTheFloor.org</a></p>
                    <p>
                        <a href="/">Home</a> | <a href="/contact">Contact Us</a></p>
                </div>
            </div><!-- /block-inner -->
        </div><!-- /block -->


        <div id="block-menu_block-1" class="block block-menu_block odd   grid16-3" role="navigation">
            <div class="inner clearfix">
                <p>
                    <h2 class="title block-title">About </h2>
                    <div class="content clearfix">
                        <div class="menu-block-1 menu-name-primary-links parent-mlid-137 menu-level-1">
                            <ul class="menu"><li class="leaf first menu-mlid-745"><a href="/about" title="About the Terms Registry">About the Terms Registry</a></li>
                                <li class="leaf menu-mlid-715"><a href="http://raisingthefloor.org/" title="Raising the Floor Home Page">Raising the Floor Home Page</a></li>
                            </ul>
                        </div>
                    </div>
                </p>
            </div><!-- /block-inner -->
        </div><!-- /block -->

        <div id="block-user-0" class="block block-user odd  last grid16-16 fusion-clear fusion-right-content" role="complementary">
            <div class="inner clearfix">
                <p>
                        <div class="content clearfix">
                            <div id="profile"></div>
                        </div>
                </p>
            </div><!-- /block-inner -->
        </div><!-- /block -->
    </div>
</script>