<script id="aliases" type="text/html">
    <ul class="aliases"></ul>
</script>

<script id="alias-list-entry" type="text/html">
<li><a target="_blank" href="/tr/_design/trapp/_show/edit/{{_id}}">{{uniqueId}} ({{source}})</a></li>
</script>

<script id="definition" type="text/html">
    {{#definition}}<p class="definition">{{definition}}</p>{{/definition}}
    {{#notes}}<p class="notes">{{notes}}</p>{{/notes}}
    {{#uses}}<p class="notes">USES: <br/>{{uses}}</p>{{/uses}}
</script>

<script id="value" type="text/html">
    {{#valueSpace}}
        <p class="valueSpace">{{valueSpace}}</p>
    {{/valueSpace}}
    {{#defaultValue}}
        <p class="defaultValue">Suggested Default: {{defaultValue}}</p>
    {{/defaultValue}}
</script>

<script id="action" type="text/html">
    <a target="_blank" href="/tr/_design/trapp/_show/edit/{{_id}}">View/Edit</a><br/>
</script>


<script id="header-template" type="text/html">
    <div class="navbar navbar-invert" role="navigation">
        <div class="navbar-header col-md-3">
            <a class="navbar-brand" href="#">Common Terms Registry</a>
        </div>
        <div>
        <div class="collapse navbar-collapse col-md-5">
            <ul class="nav navbar-nav">
                <li><a href="about.html">About</a></li>
                <li><a href="http://raisingthefloor.org/" target="_blank">Raising the Floor Home</a></li>
            </ul>
        </div>
        <div class="navbar-right col-md-2">
            <div id="account">
                Basic panel example
            </div>
        </div>
    </div>
</script>

<script id="footer-template" type="text/html">
    <div class="col-md-6">
        <p><a href="http://www.facebook.com/pages/Raising-the-Floor/126327625358?ref=ts"><img alt="Follow RtF on Facebook" src="images/facebook.png"></a> <a href="http://twitter.com/RaisingTheFloor"><img alt="Follow RtF on Twitter" src="images/twitter.png"></a> <a href="http://www.linkedin.com/groups?home=&amp;gid=2080517&amp;trk=anet_ug_hm"><img alt="Follow RtF on LinkedIn" src="images/linkedin.png"></a></p>
        <p>
            <b>Raising the Floor - International</b><br>
            Geneva, 1204 Switzerland<br>
            +41 22 518 07 95</p>
        <p><a href="mailto:info@RaisingTheFloor.org">info@RaisingTheFloor.org</a></p>
        <p><a href="/">Home</a> | <a href="/contact">Contact Us</a></p>
    </div>

    <div class="pull-right">
        <div id="profile"></div>
    </div>
</script>