/*tr.jtable-data-row {*/
    /*vertical-align: top;*/
/*}*/

/*div.jtable-main-container>div.jtable-bottom-panel {*/
    /*color: #000;*/
/*}*/

.navbar-invert {
    color:white;
    background-color: #4C4D4F;
}

.navbar-invert a {
    color:white;
}

#footer {
    border-top: 2px solid #cccccc;
    padding-top: 1em;
    margin-top: 1em;
}

.cpl-icon {
    text-align: center;
    font-size: .8em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom:2em;
}

.cpl-icon h4 {
    margin-top: 0px;
}

#account {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar .glyphicon {
    padding-top: 13px;
}
.glyphicon {
    font-size: 1.5em;
}

a.glyphicon {
    color: inherit;
}

.filter-toggle.disabled, .type-toggle.disabled, .comments-toggle.disabled {
    color: #cccccc;
}

#controls {
    margin-bottom: 0px;
}

.tt-hint {
    display:none;
}
.twitter-typeahead,.tt-dropdown-menu  {
    width:100%;
}

#dialog-content iframe {
    width:100%;
    height:1024px;
    border: 0px;
    padding:0px;
    margin:0px;
}

#status-field-set, #type-field-set {
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: .5em;
}