@font-face {
    font-family: 'ptd-icons';
    src:url('../fonts/ptd-icons.eot?np2qnd');
    src:url('../fonts/ptd-icons.eot?#iefixnp2qnd') format('embedded-opentype'),
    url('../fonts/ptd-icons.woff?np2qnd') format('woff'),
    url('../fonts/ptd-icons.ttf?np2qnd') format('truetype'),
    url('../fonts/ptd-icons.svg?np2qnd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ptd-icon-"], [class*=" ptd-icon-"] {
	font-family: 'ptd-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ptd-icon-end:before {
	content: "\e60a";
}
.ptd-icon-next:before {
	content: "\e60b";
}
.ptd-icon-previous:before {
	content: "\e60c";
}
.ptd-icon-start:before {
	content: "\e60d";
}
.ptd-icon-cross:before {
	content: "\e605";
}
.ptd-icon-trash:before {
	content: "\e608";
}
.ptd-icon-checked:before {
	content: "\e607";
}
.ptd-icon-language:before {
	content: "\e600";
}
.ptd-icon-arrow-less:before {
	content: "\e601";
}
.ptd-icon-arrow-more:before {
	content: "\e602";
}
.ptd-icon-user:before {
	content: "\e603";
}
.ptd-icon-link:before {
	content: "\e60e";
}
.ptd-icon-question:before {
	content: "\e604";
}
.ptd-icon-radio-checked:before {
	content: "\e609";
}
.ptd-icon-unchecked:before {
	content: "\e606";
}
