.row {
    max-width: 100rem;
}

.body {
    background-color: #ffffff;
    padding-top: 14%;
}

.ptd-header {
    border-bottom: 1px solid #f0f0f0;
    padding-top: 1.5em;
    padding-bottom: .5em;
    position: fixed;
    background-color: white;
    z-index: 999;
    max-width:100%;
    width: 100%;
    top: 0;
}

.ptd-body {
    margin: 20px auto;
}

button.radius, .button.radius {
    border-radius: 6px;
}

.ptd-footer {
    width:  100%;
}

.ptd-footer .row {
    padding-top:    1em;
    padding-bottom: 1em;
}

.ptd-header button, .ptd-header .button {
    border: 2px solid;
}

.ptd-scroll {
    overflow-x: hidden;
    max-width: 100%;
    overflow-y: scroll;
    height:75%;
}

.ptd-version-block {
    padding-top: .33em;
    padding-bottom: .33em;
    padding-left: .5em;
    padding-right: .5em;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 2em;
    width: inherit;
    float:right;
}

.ptd-bottom {
    height: 2.5em;
    float: right;
    padding-top: 1.5em;
}
.ptd-version {
    color: #34a2b9;
}
