body {
    color: #424242;
}

.row {
    max-width: 90%;
    margin-left: 0px;
}

.body {
    background-color:#e0e0e0;
    padding-top: 1.5em;
    min-height: 100%;
}

#header {
    background-color:#E6E6E6;
    border-bottom: 1px solid #f2f2f2;
    padding-top: 1.5em;
    padding-bottom: .5em;
}

button.radius, .button.radius {
    border-radius: 6px;
}