<div class="container">
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <h1>{{#unless _id}}Add {{/unless}}{{#if _id}}Edit {{/if}} Record</h1>
        </div>
        <div id="account" style="display:none"></div>
    </div>
    <div class="panel-body">
        <div id="messages" class="alert col-md-offset-1 display:none"></div>
        <form id="lifeboat" style="display:none;">
            {{#if _id}}<input type="hidden" name="_id" value="{{../_id}}"/>{{/if}}
            {{#if _rev}}<input type="hidden" name="_rev" value="{{../_rev}}"/>{{/if}}
            {{#if source}}<input type="hidden" name="source" value="{{../source}}"/>{{/if}}
            {{#if defaultValue}}<input type="hidden" name="defaultValue" value="{{defaultValue}}"/>{{/if}}
            {{#if aliases}}<input type="hidden" name="aliases" value="{{json aliases}}"/>{{/if}}
            {{#if uniqueId}}<input type="hidden" name="uniqueId" value="{{uniqueId}}"/>{{/if}}
            {{#if type}}<input type="hidden" name="type" value="{{type}}"/>{{/if}}
            {{#if termLabel}}<input type="hidden" name="termLabel" value="{{termLabel}}"/>{{/if}}
            {{#if status}}<input type="hidden" name="status" value="{{status}}"/>{{/if}}
            {{#if valueSpace}}<input type="hidden" name="valueSpace" value="{{valueSpace}}"/>{{/if}}
            {{#if definition}}<input type="hidden" name="definition" value="{{definition}}"/>{{/if}}
            {{#if notes}}<input type="hidden" name="notes" value="{{notes}}"/>{{/if}}
            {{#if uses}}<input type="hidden" name="uses" value="{{uses}}"/>{{/if}}
            {{#if aliasOf}}<input type="hidden" name="aliasOf" value="{{aliasOf}}"/>{{/if}}
            {{#if translationOf}}<input type="hidden" name="translationOf" value="{{translationOf}}"/>{{/if}}
        </form>
        <form id="entry-edit" class="form-horizontal" style="display:none">
        </form>
    </div>
</div>
</div>

<script type="text/javascript">
    function loadHistory(id) {
        // Get this first: /somedatabase/some_doc_id?revs_info=true HTTP/1.0
        $.ajax({
            context: { "id": id },
            url: "/tr/" + id + "?revs_info=true",
            success: function (results, status, jqXHR) {
                var resultsObject = JSON.parse(results);
                // if there are results, iterate through them
                if (resultsObject['_revs_info'] !== undefined) {
                    for (var position in resultsObject['_revs_info']) {
                        var rev = resultsObject['_revs_info'][position];
                        // The record format is like: {"rev":"6-0e55e750eac3bbb9377c45cbee45998c","status":"available"}
                        // Make an ajax call to get the individual record.
                        if (rev['status'] === "available") {
                            // GET /somedatabase/some_doc_id?rev=946B7D1C HTTP/1.0
                            $.ajax({
                                context: { "id": this.id },
                                url: "/tr/" + this.id + "?rev=" + rev['rev'],
                                success: function (childResults, childStatus, childJqXHR) {
                                    var fields = ['uniqueId', 'termLabel', 'definition', 'type', 'status', 'notes', 'uses', 'aliasOf', 'translationOf'];
                                    var revisionObject = JSON.parse(childResults);
                                    var recordDifferent = false;

                                    var form = $("#entry-edit");
                                    var revisionHtml = $('<div class="col-md-6"><div class="panel panel-default"><div></div>');
                                    revisionHtml.find(".panel").append('<div class="panel-heading">rev: ' + revisionObject._rev + '</div>');
                                    revisionHtml.find(".panel").append('<div class="panel-body"></div>');

                                    for (var position in fields) {
                                        var field = fields[position];
                                        var formField = $("#entry-edit input[name='" + field + "'],textarea[name='" + field + "']");
                                        var formValue = formField.val();
                                        var revisionValue = revisionObject[field];

                                        if (revisionValue !== undefined && revisionValue !== "") {
                                            if (formValue !== revisionValue) {
                                                revisionHtml.find(".panel-body").append('<p>' + field + " was set to '" + revisionValue + "'</p>")
                                                recordDifferent = true;
                                            }
                                        }
                                        else {
                                            if (formValue !== undefined && formValue !== "") {
                                                revisionHtml.find(".panel-body").append('<p>' + field + " was not previously set.</p>")
                                                recordDifferent = true;
                                            }
                                        }
                                    }

                                    if (recordDifferent) {
                                        revisionHtml.find(".panel").addClass("different-revision");
                                        revisionHtml.find(".panel").addClass("panel-warning");
                                    }
                                    else {
                                        revisionHtml.find(".panel-body").append('<p>No key differences</p>');
                                    }

                                    revisionHtml.find(".panel-body").append('<p class="pull-right"><a class="glyphicon glyphicon-edit" target="_blank" href="/tr/' + this.id + '?rev=' + revisionObject["_rev"] + '"></a></p>');

                                    $("#history").append(revisionHtml);
                                    countRevisions();
                                },
                                error: function (childJqXHR, childStatus, childErrorString) {
                                    $("#history").append("<p>" + childErrorString + "</p>")
                                }
                            });
                        }
                    }
                }
            },
            error: function (jqXHR, status, errorString) {
                $("#history").html("Error:" + errorString);
            }
        });
    }

    function loadForm() {
        var data = formToJson($("#entry-edit"));
        if (data == undefined || Object.keys(data).length == 0) {
            // If we haven't rendered the form yet, use the lifeboat on the first pass
            data = formToJson($("#lifeboat"));
        }
        else {
            // If there is form data in the main form, save any changes we've made to the lifeboat
            var lifeboatData = formToJson($("#lifeboat"));

            // We have to combine the data that's there with any missing fields from previous issue types
            var lifeboatKeys = Object.keys(lifeboatData);
            for (var position in lifeboatKeys) {
                var key   = lifeboatKeys[position];
                var value = lifeboatData[key];

                if (data[key] == undefined) {
                    data[key] = lifeboatData[key];
                }
            }

            $("#lifeboat").html(Handlebars.compile($("#edit_lifeboat").html())(data));
        }

        evolve(data);

        // (Re)render the contents of the main form
        $("#entry-edit").html(Handlebars.compile($("#edit-form").html())(data));

        // (Re)wire the suggestion block if we're working with the right kind of record
        if (data.type == "ALIAS" || data.type == "TRANSLATION" || data.type == "TRANSFORMATION" ) {
            $.get('/tr/_design/trapp/_view/terms', {},
                    function (data, textStatus, jqXHR) {
                        var suggestionData = [];
                        var json = JSON.parse(data);
                        for (var position in json.rows) {
                            var tokens = [];
                            var record = json.rows[position];

                            if (record.value.definition !== undefined) { $(record.value.definition.trim().split(" ")).each(function(index,value) { if (value !== undefined && value.length > 0) tokens.push(value); })};
                            if (record.value.termLabel  !== undefined) { $(record.value.termLabel.trim().split(" ")).each(function(index,value) { if (value !== undefined && value.length > 0) tokens.push(value); })}
                            if (record.value.uniqueId   !== undefined) { $(record.value.uniqueId.trim().split(" ")).each(function(index,value) { if (value !== undefined && value.length > 0) tokens.push(value); })}

                            suggestionData.push({"value": record.value.uniqueId,"id":record.id,"termLabel": record.value.termLabel, "tokens": tokens, "definition": record.value.definition });
                        }

                        $('.term-id-lookup-field').typeahead([
                            {
                                name: 'suggestions-block',
                                local: suggestionData,
                                template: $("#suggestion-item").html(),
                                engine: Hogan
                            }
                        ]);
                    }
            );
        }
    }

    function countRevisions() {
        var revisionCount = 0;
        var differenceCount = 0;

        var revisionElements = $("#history .panel");
        if (revisionElements !== undefined) {
            revisionCount = revisionElements.length;
        }

        var differenceElements = $(".different-revision");
        if (differenceElements !== undefined) {
            differenceCount = differenceElements.length;
        }

        $("#history-title .badge").html(revisionCount + " revs, " + differenceCount + " diffs");
    }

    function formToJson(form) {
        var json = {};
        var formArray = form.serializeArray();

        for (var position in formArray) {
            var record = formArray[position];
            if (record.value !== undefined) {
                if (record.name == "aliases" || record.name == "statuses" || record.name == "types") {
                    json[record.name] = JSON.parse(record.value);
                }
                else {
                    json[record.name] = record.value;
                }
            }
        }

        return json;
    }

    function formToSerialized(form) {
        var formArray = form.serializeArray();
        var output = "";

        for (var position in formArray) {
            if (position > 0) {
                output += "&";
            }
            var record = formArray[position];
            if (record.value !== undefined) {
                if (record.name == "aliases") {
                    output += escape(record.name) + "=" + record.value;
                }
                else {
                    output += escape(record.name) + "=" + escape(record.value);
                }
            }
        }

        return output;
    }

    function doAjaxPost(id) {
        var form = $("#entry-edit");
        var data = JSON.stringify(formToJson(form));
        var url = "/tr/";
        var headers = {};
        if (id) {
            url = "/tr/_design/trapp/_update/edit/";
            data = formToSerialized(form);
        }
        else {
            headers['Content-Type'] = 'application/json';
        }

        var messageContainer = $("#messages");
        $.ajax({
            url: url,
            type: "POST",
            headers: headers,
            data: data,
            success: function (results, status, jqXHR) {
                var rev = jqXHR.getResponseHeader("X-Couch-Update-NewRev");
                $("input[name='_rev']").val(rev);

                messageContainer.show();
                messageContainer.html("Record updated.");
                messageContainer.removeClass("alert-danger");
                messageContainer.addClass("alert-success");
                $(".alert-danger").remove();
                window.scrollTo($("#messages").position().left, $("#messages").position().top);
            },
            error: function (jqXHR, status, errorString) {
                $("form .alert").remove();
                $("span.error").remove();

                var errors = JSON.parse(jqXHR.responseText);
                // summarize the errors at the top of the form
                messageContainer.show();
                messageContainer.removeClass("alert-success");
                messageContainer.addClass("alert-danger");
                window.scrollTo($("#messages").position().left, $("#messages").position().top);

                // Server error messages are strings
                if (typeof errors.reason == "string") {
                    messageContainer.html(errors.reason);
                }
                // Field validation errors are an array
                else {
                    messageContainer.html(errors.reason.summary);

                    // Put error messages inline for each botched field
                    for (var position in errors.reason.errors) {
                        var entry = errors.reason.errors[position];

                        var key = Object.keys(entry)[0];
                        var value = entry[key];

                        var label = $("#" + key + "-values");
                        if (label) {
                            label.after('<div class="alert alert-danger col-md-3">' + value + '</div>');
                        }
                    }
                }
            }
        });
    }
    Handlebars.registerHelper('json', function(context) {
        return JSON.stringify(context);
    });

    $.get('../../templates/edit.html', function (templates) {
        $(templates).each(function () {
            $('body').append(this);
        });
    }).then(function() {
        $.couch.db('tr').openDoc('_design/trapp',{success: function(data, textStatus, jqXHR) {
            $(data.templates).each(function (position,entry) {
                $(Object.keys(entry)).each(function(position,key) {
                    var script = $("<script>");
                    script.attr("type","text/html");
                    script.attr("id",key);
                    script.text(entry[key]);
                    script.appendTo($('body'));
                });
            });
            $(data.shared).each(function (position,entry) {
                $(Object.keys(entry)).each(function(position,key) {
                    $.globalEval(entry[key]);
                });
            });

            loadForm();
        }});
    });

    $("#account").couchLogin({
        loggedIn: function () {
            $("#entry-edit").show();
            $("#messages").html("").removeClass("alert-danger").hide();
        },
        loggedOut: function () {
            $("#entry-edit").hide();
            $("#messages").html("You must be logged in to use this feature.").addClass("alert-danger").show();
        }
    });

    {{#if _id}}
    loadHistory("{{_id}}");
    $("#history-title").bind('click', function () {
        $("#history").toggle()
    });
    {{/if}}
</script>

