{{#if _id}}<input type="hidden" name="_id" value="{{../_id}}"/>{{/if}}
{{#if _rev}}<input type="hidden" name="_rev" value="{{../_rev}}"/>{{/if}}
{{#if source}}<input type="hidden" name="source" value="{{../source}}"/>{{/if}}
{{#if defaultValue}}<input type="hidden" name="defaultValue" value="{{defaultValue}}"/>{{/if}}
{{#if aliases}}<input type="hidden" name="aliases" value="{{json aliases}}"/>{{/if}}
{{#if uniqueId}}<input type="hidden" name="uniqueId" value="{{uniqueId}}"/>{{/if}}
{{#if type}}<input type="hidden" name="type" value="{{type}}"/>{{/if}}
{{#if termLabel}}<input type="hidden" name="termLabel" value="{{termLabel}}"/>{{/if}}
{{#if status}}<input type="hidden" name="status" value="{{status}}"/>{{/if}}
{{#if valueSpace}}<input type="hidden" name="valueSpace" value="{{valueSpace}}"/>{{/if}}
{{#if definition}}<input type="hidden" name="definition" value="{{definition}}"/>{{/if}}
{{#if notes}}<input type="hidden" name="notes" value="{{notes}}"/>{{/if}}
{{#if uses}}<input type="hidden" name="uses" value="{{uses}}"/>{{/if}}
{{#if aliasOf}}<input type="hidden" name="aliasOf" value="{{aliasOf}}"/>{{/if}}
{{#if translationOf}}<input type="hidden" name="translationOf" value="{{translationOf}}"/>{{/if}}
