<div class="body ptd-down-gradient">
    <div class="row">
        <div class="panel">
            <h1>About the Preference Terms Dictionary</h1>

            <p>
                The purpose of the Preference Terms Dictionary is to encourage and enable all stakeholders to use the same terms when describing the same things (the same concept and value range) with regard to user need and preference sets in the User Preference server. The purpose, format (and maintenance?) of the Preference Terms Dictionary will be defined in more detail by ISO 24751 REVISION (now underway).
            </p>

            <p>
                The Preference Terms Dictionary contains items like the following:
            <ul>
                <li>Name, description and value range of a set of core terms used by the Cloud4All/GPII architecture, when users describe what needs and preferences they have and solutions declare what needs and preferences their settings cover. An example would be magnificationFactor, which would describe the magnification factor of a screen magnifier. By referring to this Common Term, it is ensured that users, solutions, etc., understand the same thing when talking about screen magnification in terms of unit, value range and meaning.</li>
                <li>Operators and Conditions used in the Needs and Preferences sets of users (again Cloud4All/GPII). Any operator and condition in the users needs and preferences set is defined in the registry, to ensure that no ambiguity arises and that the definitions can be looked up in a single place.</li>
            </ul>
            </p>
        </div>
    </div>
</div>