<div class="body">
    <div class="row">
        <div class="column small-offset-1 small-11 ptd-viewport">
            <div class="loading">Loading...</div>
        </div>
   </div>
</div>

<!-- include our fluid modules -->
<script src="/js/components/record.js"></script>

<!-- include any dependencies specific to this page -->
<script src="/bc/pagedown/Markdown.Converter.js"></script>
<script src="/bc/pagedown/Markdown.Sanitizer.js"></script>


<script type="text/javascript">
    {{>json-data}}

    $(document).foundation();
    var record    = ctr.components.record("body");
    record.events.refresh.fire();
    var profile   = ctr.components.profile("#profile");
</script>
