<div class="body ptd-down-gradient">
    <div class="ptd-viewport row">
        <div class="loading">Loading...</div>
    </div>
</div>

<!-- include our fluid modules -->
<script src="/js/components/details.js"></script>
<script src="/js/components/parent-picker.js"></script>

<!-- include any dependencies specific to this page -->
<script src="/bc/pagedown/Markdown.Converter.js"></script>
<script src="/bc/pagedown/Markdown.Sanitizer.js"></script>


<script type="text/javascript">
    {{>json-data}}

    $(document).foundation();
    var root = ctr.config.root({
        serverConfig: ctr.config.server,
        components: {
            details: {
                type:      "ctr.components.details",
                container: "body"
            }
        }
    });
</script>
