<div class="body ptd-down-gradient">
    <div class="row">
        <div class="column small-offset-4 small-4 ptd-viewport">
            {{>forgot-form}}
        </div>
    </div>
</div>

<script src="/js/components/forgot.js"></script>
<script type="text/javascript">
    {{>json-data}}
    var forgot = ctr.components.forgot("body");
</script>

