<div class="body ptd-down-gradient">
    <div class="row">
        <div class="column small-offset-4 small-4 ptd-viewport">
            {{>login-form}}
        </div>
    </div>
</div>

<script src="/js/components/login.js"></script>
<script type="text/javascript">
    {{>json-data}}
    var login = ctr.components.login("body");
</script>

