<div class="body">
    <div class="row">
        <div class="column small-offset-1 small-11 ptd-viewport">
            <div class="panel">
                <h1>Update Your Information</h1>

                <p>
                    This page displays your profile.  Updating your information is not yet supported.
                </p>

                <p>
                    Name: {{user.name}}
                    Email: {{user.email}}
                </p>
            </div>
        </div>
    </div>
</div>