<div class="body">
    <div class="row">
        <div class="column small-offset-1 small-11 ptd-viewport">
            {{#if user}}
                <div class="panel">
                    <h1>Update Your Information</h1>

                    <p>
                        This page displays your profile.  Updating your information is not yet supported.
                    </p>

                    <p>
                        Name: {{user.name}}
                        Email: {{user.email}}
                    </p>
                </div>
            {{else}}
                <div data-alert class="alert-box warning">
                    You are not currently logged in.  Please <a href="/login">Log In</a> to view your profile.
                </div>
            {{/if}}
        </div>
    </div>
</div>