<div class="body">
    <div class="row">
        <div class="column small-offset-4 small-4 ptd-viewport">
            {{>reset-form}}
        </div>
    </div>
</div>

<script src="/js/components/reset.js"></script>
<script type="text/javascript">
    {{>json-data}}
    var reset = ctr.components.reset("body");
</script>

