<div class="body ptd-down-gradient">
    <div class="row">
        <div class="column small-offset-4 small-4 ptd-viewport">
            {{>signup-form}}
        </div>
    </div>
</div>

<script src="/js/components/signup.js"></script>
<script type="text/javascript">
    {{>json-data}}
    var signup = ctr.components.signup("body");
</script>

