<div class="alias">
    <div class="row">
        <div class="column small-8 glyphicon glyphicon-leaf">
            {{#if source}}
                <span class="source">
                    {{source}}
                </span>
            {{/if}}
            <span class="title">
                {{#if termLabel}}{{termLabel}}{{else}}{{uniqueId}}{{/if}}
                <span class="glyphicon glyphicon-pencil"></span>
            </span>
        </div>
        <div class="column small-4">
            {{>version}}
        </div>
    </div>
    <div class="row">
        <div class="column small-4">
            {{>valuespace}}
        </div>
    </div>
</div>