<div class="alias">
    <div class="row">
        <div class="column small-10">
            <div class="source">
                iso24751
            </div>
            <div class="title">
                {{#if termLabel}}{{termLabel}}{{else}}{{uniqueId}}{{/if}}
                <div class="glyphicon glyphicon-pencil"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column small-4">
            <div class="heading">Value Space</div>
            <div>URI</div>
        </div>
    </div>
</div>