<div class="row ptd-top-row">
    <div class="medium-4 column">
        <div class="row">
            <div class="column medium-1">
                <h2 class="ptd-icon-term" title="Preference Terms Dictionary Logo"></h2>

            </div>
            <div class="column medium-10  ptd-header-item-to-pad">
                <h5>Preference Terms Dictionary</h5>
            </div>
        </div>
    </div>
    <div class="medium-2 column">
        <div class="row">
            <div class="medium-6 column ptd-header-active-page ptd-header-item-to-pad ptd-header-highlightable">
                <a tabindex="0" href="/">Home</a>
            </div>
            <div class="medium-6 column ptd-header-item-to-pad ptd-header-highlightable">
                <a tabindex="0" href="/about">About</a>
            </div>
        </div>
    </div>
    <div class="medium-4 column ptd-user-container ptd-header-item-to-pad ">
        {{> user-controls }}
    </div>
</div>