<div class="ptd-version-block">
    {{#if version}}
        <span class="ptd-version">
            v. {{version}}
        </span>
    {{/if}}
    {{status}}
    <span class="ptd-icon-">{{status}}</span>
</div>