<div class="ptd-footer ptd-down-gradient">
    <div class="row">
        <h4>Raising the Floor - International</h4>
        Geneva, 1204 Switzerland<br/>
        +41 22 518 07 95<br/>
        <a href="mailto:info@RaisingTheFloor.org">info@RaisingTheFloor.org</a>
    </div>
</div>
