<div class="ptd-header">
    <div class="row">
        <div class="medium-4 column ptd-non-button-heading">
            {{>common-site-title}}
        </div>
        <div class="medium-offset-5 medium-3 column">
            <div class="row">
                <div class="medium-4 column ptd-non-button-heading">
                    <span class="ptd-icon-info"></span>
                    <a tabindex="0" href="/about">About</a>
                </div>
                <div class="medium-8 column user-container">
                    {{> user-controls }}
                </div>
            </div>
        </div>
    </div>
</div>