<div class="ptd-footer ptd-down-gradient">
    <div class="row">
        <div class="column medium-6">
            <h4>Raising the Floor - International</h4>
            Geneva, 1204 Switzerland<br/>
            +41 22 518 07 95<br/>
            <a href="mailto:info@RaisingTheFloor.org">info@RaisingTheFloor.org</a>
        </div>
        <div class="column medium-1">
            <a href="http://issues.gpii.net/browse/CTR" target="_blank">
                <div class="button ptd-feedback-button">Feedback</div>
            </a>
            <!-- Converted to a link until blocking issues with JIRA's issue collector can be resolved:  http://issues.gpii.net/browse/CTR-173 -->
            <!--<script type="text/javascript" src="https://issues.gpii.net/s/en_USxf9kdw-418945332/854/3/1.2.9/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=98b75dcd"></script>-->
            <!--<script type="text/javascript">-->
                <!--window.ATL_JQ_PAGE_PROPS =  {-->
                <!--"triggerFunction": function(showCollectorDialog) {-->
                    <!--//Requries that jQuery is available!-->
                    <!--jQuery(".ptd-feedback-button").click(function(e) {-->
                        <!--e.preventDefault();-->
                        <!--showCollectorDialog();-->
                    <!--});-->
                <!--}};-->
            <!--</script>-->
        </div>
    </div>
</div>

<script type="text/javascript">
    var activePageHighlighter = ctr.components.activePage("body");
</script>
