{{#if user}}
    <div class="row details-footer">
        <div class="column small-offset-1 small-11">
            <div class="row">
                <div class="column medium-8">
                    <input type="text" id="comment" placeholder="Add comment on entry"/>
                </div>
                <div class="column medium-4">
                    <div class="button radius save-button">
                        Save Changes
                    </div>
                </div>
            </div>
        </div>
    </div>
{{else}}
    <span class="save-button" style="display:none"></span>
{{/if}}