<div class="row">
    <div class="column medium-6">
        <div class="details-heading">Record Type</div>
        <div class="row">
            {{#if user}}
                <div class="column medium-4">
                    <input type="radio" name="type" value="term" id="term-type"/>
                    <label for="term-type" class="type button radius" tabindex="0">
                        <span class="ptd-icon-term"></span>
                        Term
                    </label>
                </div>
                <div class="column medium-4">
                    <input type="radio" name="type" value="alias" id="alias-type"/>
                    <label for="alias-type" class="type button radius" tabindex="0">
                        <span class="ptd-icon-leaf"></span>
                        Alias
                    </label>
                </div>
                <div class="column medium-4">
                    <input type="radio" name="type" value="condition" id="condition-type"/>
                    <label for="condition-type" class="type button radius" tabindex="0">
                        <span class="ptd-icon-condition"></span>
                        Condition
                    </label>
                </div>
            {{else}}
                <div class="column small-12">
                    <input type="hidden" name="type" value="{{record.type}}"/>
                    {{record.type}}
                </div>
            {{/if}}
        </div>
    </div>
</div>