
<div class="row">
    <div class="details-heading">Definition</div>
    <div class="ptd-inline">
        {{#if user}}
            <textarea name="definition" placeholder="Add a definition for this term.">{{record.definition}}</textarea>
        {{else}}
            <input name="definition" type="hidden" value="{{record.definition}}"/>
            {{#md}}{{record.definition}}{{/md}}
        {{/if}}
    </div>
</div>