<div class="row details-linkbar">
    <div class="column medium-3">
        <div class="label-neighbor">
            <a href="#">last changes</a> | <a href="#">history (7)</a></div>
    </div>
    <div class="column medium-2 medium-offset-2">
        <div class="secondary round label">
            <span class="version-header">Version 5 (latest)</span>
        </div>
    </div>
    <div class="column medium-2 medium-offset-3">
        <div class="label-neighbor">
            <a href="#">help <span class="ptd-icon-question"></span></a></div>
    </div>
</div>
