<div class="row">
    <div class="details-heading">Alias Of</div>
    <input type="hidden" name="defaultValue" value="{{record.aliasOf}}"/>
    <a href="/details/{{record.aliasOf}}" target="_blank">{{record.aliasOf}}</a>
    {{#if user}}
        <p>Parent record picker coming soon...</p>
    {{/if}}
</div>