<form name="details-form">
    <div class="row details-header">
        <div class="column small-offset-1 small-11">
            {{>details-controls-linkbar}}
            {{>details-fields-uniqueid}}
        </div>
    </div>
    <div class="row details-body">
        <div class="column small-offset-1 small-11">
            {{>details-fields-type}}
            {{>details-fields-uses}}
            {{>details-fields-definition}}
            {{>details-fields-notes}}
            {{>details-fields-status}}
        </div>
    </div>
</form>

{{>details-controls-save}}