{{#if user}}
    <div class="row">
        <div class="details-heading">Definition</div>
        <div class="ptd-inline">
           <textarea name="definition" placeholder="Add a definition for this term.">{{record.definition}}</textarea>
        </div>
    </div>
{{else}}
    <input name="definition" type="hidden" value="{{record.definition}}"/>
    {{#if record.definition}}
        <div class="row">
            <div class="details-heading">Definition</div>
            <div class="ptd-inline">
                {{#md}}{{record.definition}}{{/md}}
            </div>
        </div>
    {{/if}}
{{/if}}
