<div class="row">
    <div class="column medium-6">
        <div class="row">
            <div class="column medium-4">
                <input type="radio" name="type" value="term" id="term-type"/>
                <label for="term-type" class="type button radius" tabindex="0">
                    <span class="glyphicon-tree-deciduous glyphicon"></span>
                    Term
                </label>
            </div>
            <div class="column medium-4">
                <input type="radio" name="type" value="alias" id="alias-type"/>
                <label for="alias-type" class="type button radius" tabindex="0">
                    <span class="glyphicon-leaf glyphicon"></span>
                    Alias
                </label>
            </div>
            <div class="column medium-4">
                <input type="radio" name="type" value="condition" id="condition-type"/>
                <label for="condition-type" class="type button radius" tabindex="0">
                    <span class="glyphicon-cog glyphicon"></span>
                    Condition
                </label>
            </div>
        </div>
    </div>
</div>