
<div class="row">
    <div class="details-heading">Notes</div>
    <div class="ptd-inline">
        {{#if user}}
            <textarea rows="10" name="notes" placeholder="Add any additional notes you would like to associate with this term.">{{record.notes}}</textarea>
        {{else}}
            <input name="notes" type="hidden" value="{{record.notes}}"/>
            {{#md}}{{record.notes}}{{/md}}
        {{/if}}
    </div>
</div>