<div class="row">
    <div class="column small-12">
        <div class="details-heading">Aliases</div>
        <ul>
            {{#if record.aliases}}
                {{#each record.aliases}}
                    <li><a target="_blank" href="/details/{{uniqueId}}">{{uniqueId}}</a></li>
                {{/each}}
            {{/if}}
            {{#if user}}
                <li class="details-create-alias"><a target="_blank" href="/details/new?aliasOf={{record.uniqueId}}&type=alias">Create Alias</a></li>
            {{/if}}
        </ul>
    </div>
</div>
