<div class="row">
    <div class="details-heading">Uses</div>
    <div class="uses-container">
        {{#if user}}{{>details-fields-uses-write}}{{else}}{{>details-fields-uses-read}}{{/if}}
    </div>
</div>
