<div class="ptd-viewport row">
    <div class="column small-12">
        <form name="details-form">
            <div class="details-header">
                {{>details-controls-linkbar}}
                {{>details-fields-uniqueid}}
            </div>


            <div class="details-body">
                {{>details-fields-type}}
                {{>details-fields-uses}}
                {{>details-fields-aliases}}
                {{>details-fields-definition}}
                {{>details-fields-termlabel}}
                {{>details-fields-valuespace}}
                {{>details-fields-defaultvalue}}
                {{>details-fields-notes}}
                {{>details-fields-status}}
            </div>

            {{>details-controls-save}}
        </form>
    </div>
</div>

