<div class="row">
    <div class="column small-offset-1 small-11">
        <div data-alert class="alert-box alert">
            {{message}}
            <a href="#" class="close">&times;</a>
        </div>
    </div>
</div>