<!-- TODO: Implement support for languages and translations, and enable this
<a href="#" data-dropdown="locale-dropdown" class="button dropdown expand secondary small" tabindex="0">
    <span class="ptd-icon-language"></span>
    English
</a>
<br/>
<ul id="locale-dropdown" data-dropdown-content class="f-dropdown">
    <li><a href="#" tabindex="-1">English</a></li>
    <li><a href="#" tabindex="-1">Coming Soon</a></li>
</ul>
-->