<div class="row">
    <div class="small-6 small-offset-1 column">
        <div clas="count">
            {{#if count}}
            <span class="record-count">
                {{count}} records
            </span>
            {{/if}}
            {{#if untranslated}}
            <span class="translation-count">
                , <a href="#" tabindex="0">1 entry</a> not translated into English
            </span>
            {{/if}}
        </div>
    </div>
    <div class="small-offset-2 small-3 column">
        <a href="#" data-dropdown="order-dropdown" class="button dropdown expand secondary small order transparent" tabindex="0">Alphabetical</a><br>
        <ul id="order-dropdown" data-dropdown-content class="f-dropdown">
            <li><a href="#">Alphabetical</a></li>
            <li><a href="#">Last Updated</a></li>
        </ul>
    </div>
</div>