<div class="row">
    <div class="column small-offset-1 small-11">
        <div class="panel">
            No records were found.  Check your search criteria and the filters (status, etc.) you have chosen.
        </div>
    </div>
</div>