<div id="profile">
    <a href="#" data-dropdown="user-dropdown" class="button expand dropdown secondary small transparent" tabindex="0">
        <span class="ptd-icon-user"></span>
        Not Logged In
    </a>
    <br/>
    <ul id="user-dropdown" data-dropdown-content class="f-dropdown profile-menu">
        <li><a href="#" class="profile-login" tabindex="-1">login</a></li>
        <li><a href="#" class="profile-logout" tabindex="-1">logout</a></li>
        <li><a href="#" class="profile-profile" tabindex="-1">profile</a></li>
    </ul>
</div>