<div id="profile">
    <a href="#" data-dropdown="user-dropdown" class="button expand dropdown secondary small transparent" tabindex="0">
        <span class="ptd-icon-user"></span>
        {{#if user}}
            {{#if user.displayName}}{{user.displayName}}{{else}}{{user.name}}{{/if}}
        {{else}}
            Not Logged In
        {{/if}}
    </a>
    <br/>
    <ul id="user-dropdown" data-dropdown-content class="f-dropdown user-menu">
        <li class="user-menu-logout" {{#unless user}}style="display:none"{{/unless}} tabindex="-1">Log Out</li>
        <li class="user-menu-profile" {{#unless user}}style="display:none"{{/unless}} tabindex="-1">profile</li>
        <li class="user-menu-login"  {{#if user}}style="display:none"{{/if}} tabindex="-1">Log In</li>
        <li class="user-menu-signup" {{#if user}}style="display:none"{{/if}} tabindex="-1">Sign Up</li>
    </ul>
</div>