<div id="profile">
    <div id="profile-header" class="profile-toggle">
        <div id="profile-icon">icon</div>
        <div id="profile-name">user name</div>
        <div id="profile-carat">^</div>
    </div>
    <div id="profile-menu">
        <ul>
            <li><a href="#" id="profile-login">login</a></li>
            <li><a href="#" id="profile-logout">logout</a></li>
            <li><a href="#" id="profile-profile">profile</a></li>
        </ul>
    </div>
</div>