<div id="profile">
    <div class="profile-header profile-toggle">
        <div class="profile-icon"></div>
        <div class="profile-username">Not Logged In</div>
        <div class="profile-carat">^</div>
    </div>
    <div class="profile-menu" style="display:none">
        <ul>
            <li><a href="#" class="profile-login">login</a></li>
            <li><a href="#" class="profile-logout">logout</a></li>
            <li><a href="#" class="profile-profile">profile</a></li>
        </ul>
    </div>
</div>