<div class="record">
    <div class="term">
        <div class="row">
            <div class="column small-8 title glyphicon glyphicon-tree-deciduous">
                Custom Keyboard layout
                <div class="glyphicon glyphicon-pencil"></div>
            </div>
            <div class="column small-4">
                <div class="version">
                    v. 5 approved
                    <span class="glyphicon glyphicon-check"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column small-8 subtitle">
                alphanumericKeyboardLayoutCustom
            </div>
        </div>
        <div class="row">
            <div class="column small-12">
                Data element identifying a document containing a specification of a custom spatial arrangement of keys of an alphanumeric keyboard.
            </div>
        </div>
        <div class="row">
            <div class="column small-4">
                <div class="heading">Value Space</div>
                <div>URI</div>
            </div>
            <div class="column small-8">
                <div class="heading">Uses</div>
                <ul>
                    <li>GPII (source)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="aliases">
        <div class="alias">
            <div class="row">
                <div class="column small-10">
                    <div class="source">
                        iso24751
                    </div>
                    <div class="title">
                        AlphanumericKeyboardLayoutcustom
                        <div class="glyphicon glyphicon-pencil"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column small-4">
                    <div class="heading">Value Space</div>
                    <div>URI</div>
                </div>
            </div>
        </div>
    </div>
</div>