<p>Use the form below to reset your password.</p>

<form class="reset-form" method="POST">
    <input type="hidden" name="code" value="{{code}}"/>

    <label for="password">New Password:</label>
    <input id="password" type="password" tabindex="3" name="password">

    <label for="confirm">Retype Password:</label>
    <input id="confirm" type="password" tabindex="4" name="confirm">

    <input type="submit" tabindex="5" class="button login-button" value="Reset Password">
</form>