<div class="ptd-records ptd-scroll">
    {{#each records}}
            <div class="ptd-search-record">
                <div class="row">
                    <div class="column small-8">
                        <span class="ptd-search-title">{{uniqueId}}</span>
                        <a href="/details/{{uniqueId}}" class="ptd-search-show-edit-link">Show/Edit</a>
                    </div>
                    <div class="column small-4">
                        {{>common-version}}
                    </div>
                </div>
                {{#if termLabel}}
                    <div class="row">
                        <div class="column small-8 ptd-search-subtitle">
                            {{termLabel}}
                        </div>
                    </div>
                {{/if}}
                <div class="row">
                    <div class="column small-4">
                        {{>search-valuespace}}
                    </div>
                    <div class="column small-7">
                        {{>search-aliases}}
                    </div>
                    <div class="column small-1">
                        <div class="ptd-bottom">
                            <a class="ptd-copy-link-icon glyphicon glyphicon-link" href="/details/{{uniqueId}}" title="Copy link location"></a>
                        </div>
                    </div>
                </div>
            </div>
    {{/each}}
</div>
