<div class="ptd-records ptd-scroll">
    {{#each records}}
            <div class="ptd-search-record">
                <div class="row">
                    <div class="column small-3">
                        <div class="ptd-search-title-block">
                           <a title="Show{{#if user}}Edit{{/if}} Record" href="/details/{{uniqueId}}">
                                <span class="ptd-search-title">{{uniqueId}}</span>
                           </a>
                            {{#if termLabel}}
                                <p>{{termLabel}}</p>
                            {{/if}}
                        </div>
                    </div>
                    <div class="column small-4">
                        {{>search-aliases}}
                    </div>
                    <div class="column small-4">
                        {{>common-version}}
                    </div>
                </div>
            </div>
    {{/each}}
</div>
