<div class="row">
    <div class="small-3 column">
        {{#if count}}
            <div class="count">
                <span class="record-count">
                    {{count}} records found
                </span>
            </div>
        {{/if}}
    </div>
    <div class="small-3 small-offset-1 column">
        {{#if count}}
            <a class="ptd-search-nav-start ptd-search-nav-page-link" offset="0">&lt;&lt;</a>
            <a class="ptd-search-nav-previous ptd-search-nav-page-link" offset="0">&lt;<a/>
            <span class="ptd-search-page-links">
                {{>search-navigation-page-link}}
            </span>
            <a class="ptd-search-nav-next ptd-search-nav-page-link" offset="0">&gt;</a>
            <a class="ptd-search-nav-end ptd-search-nav-page-link" offset="0">&gt;&gt;
        {{/if}}
    </div>
    <div class="small-offset-2 small-3 column">
        <select name="sort" class="ptd-search-sort">
            <option value="uniqueId">Alphabetical, by uniqueId</option>
            <option value="\uniqueId">Reverse Alphabetical, by uniqueID</option>
            <option value="\updated">Newest (Most Recently Updated)</option>
            <option value="updated">Oldest (Least Recently Updated)</option>
            <option value="" disabled=true class="ptd-search-order-best-match">Best Match</option>
        </select>
    </div>
</div>