<div class="ptd-search-heading">Aliases</div>
<ul class="ptd-search-alias-list">
{{#each aliases}}
    <li>{{#if termLabel}}{{termLabel}}{{else}}{{uniqueId}}{{/if}}</li>
{{else}}
    <li><span class="ptd-no-value">There are no aliases for this record.</span></li>
{{/each}}
</ul>
