<div class="row ptd-search-nav-footer">
    <div class="column medium-2">
        <a tabindex="0" class="ptd-search-nav-previous ptd-search-nav-page-link" title="back"><span class="ptd-icon-previous"/> Back</a>

    </div>
    <div class="column medium-2 text-right">
        <a tabindex="0" class="ptd-search-nav-next ptd-search-nav-page-link" title="next"> Next<span class="ptd-icon-next"/></a>
    </div>
</div>
