<div class="ptd-viewport row">
    <div class="column small-12">
        <div class="panel">
            No records were found.  Check your search criteria and the filters (status, etc.) you have chosen.
        </div>
    </div>
</div>
