<div class="row ptd-nav-bar">
    <div class="small-4 column">
        <div class="count ptd-record-count" style="display:none"></div>
    </div>
    <div class="small-5 column">
        <ul class="ptd-search-page-links" style="display:none"></ul>
    </div>
    <div class="small-3 column">
        <select name="sort" class="ptd-search-sort"  style="display:none">
            <option value="uniqueId">Alphabetical, by uniqueId</option>
            <option value="\uniqueId">Reverse Alphabetical, by uniqueID</option>
            <option value="\updated">Newest (Most Recently Updated)</option>
            <option value="updated">Oldest (Least Recently Updated)</option>
            <option value="" disabled=true class="ptd-search-order-best-match">Best Match</option>
        </select>
    </div>
</div>