<div class="row">
    <div class="small-3 column">
        {{#if count}}
            <div class="count">
                <span class="record-count">
                    {{count}} records found
                </span>
            </div>
        {{/if}}
    </div>
    <div class="small-4 small-offset-1 column">
        {{#if count}}
            <ul class="ptd-search-page-links">
                {{>search-navigation-previous-page-links}}
                {{>search-navigation-page-link}}
                {{>search-navigation-next-page-links}}
            </ul>
        {{/if}}
    </div>
    <div class="small-offset-1 small-3 column">
        <select name="sort" class="ptd-search-sort">
            <option value="uniqueId">Alphabetical, by uniqueId</option>
            <option value="\uniqueId">Reverse Alphabetical, by uniqueID</option>
            <option value="\updated">Newest (Most Recently Updated)</option>
            <option value="updated">Oldest (Least Recently Updated)</option>
            <option value="" disabled=true class="ptd-search-order-best-match">Best Match</option>
        </select>
    </div>
</div>