<ul class="ptd-search-page-links">
    <li><a tabindex="0" class="ptd-icon- ptd-search-nav-start ptd-search-nav-page-link">start</a></li>
    <li><a tabindex="0" class="ptd-icon- ptd-search-nav-previous ptd-search-nav-page-link" title="previous">previous</a></li>

    <li><input type="text" class="ptd-search-nav-current-page" value="{{#if page}}{{page}}{{else}}1{{/if}}" tabindex="0" width="2"/></li>
    <li><div class="ptd-search-nav-total-pages">&nbsp;/&nbsp;{{totalPages}}</div></li>

    <li><a tabindex="0" class="ptd-icon- ptd-search-nav-next ptd-search-nav-page-link">next</a></li>
    <li><a tabindex="0" class="ptd-icon- ptd-search-nav-end ptd-search-nav-page-link">end</a></li>
</ul>
