<div class="row">
    <div class="small-6 small-offset-1 column">
        <div clas="count">
            {{#if count}}
            <span class="record-count">
                Displaying {{start}} - {{end}} of {{count}} records
            </span>
            {{/if}}
            {{#if untranslated}}
            <span class="translation-count">
                , <a href="#" tabindex="0">1 entry</a> not translated into English
            </span>
            {{/if}}
        </div>
    </div>
    <div class="small-offset-2 small-3 column">
        <select name="sort" class="ptd-search-sort">
            <option value="termLabel">Alphabetical, by Term Label</option>
            <option value="\termLabel">Reverse Alphabetical, by Term Label</option>
            <option value="uniqueId">Alphabetical, by uniqueId</option>
            <option value="\uniqueId">Reverse Alphabetical, by uniqueID</option>
            <option value="" disabled=true class="ptd-search-order-best-match">Best Match</option>
        </select>
    </div>
</div>