<div id="header">
    <div class="row">
        <div class="medium-offset-1 medium-3 column ptd-non-button-heading">
            <a href="/">Preference Terms Dictionary</a>
        </div>
        <div class="medium-2 column">
            <div id="add-record-button" class="button small radius" tabindex="0" {{#unless user}}style="display:none"{{/unless}}>
                <a href="/details/new"><div class="foundicon-general-plus">Add New</div></a>
            </div>
        </div>
        <div class="medium-offset-3 medium-3 column">
            <div class="row">
                <div class="medium-4 column ptd-non-button-heading">
                    <span class="ptd-icon-info"></span>
                    <a tabindex="0" href="/about">About</a>
                </div>
                <div class="medium-8 column user-container">
                    {{> user-controls }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="medium-offset-1 medium-3 column">
            <div class="row collapse">
                <div class="medium-6 column">
                    <a class="button left active prefix" href="#">
                        <span class="glyphicon glyphicon-tree-deciduous"></span>
                        Terms
                    </a>
                </div>
                <div class="medium-6 column">
                <!--  TODO: Implement support for conditions and then enable this
                    <a class="button right postfix inactive" href="#">
                        <span class="glyphicon glyphicon-cog"></span>
                        Conditions
                    </a>
                -->
                </div>
            </div>
        </div>

        <div class="medium-2 column">
            <a href="#" class="ptd-search-status-toggle" tabindex="0">
                <div class="button secondary dropdown expand small">
                    <span class="ptd-icon-radio-unchecked"></span>
                    <span class="ptd-search-status-current-text">Active Records</span>
                </div>
            </a>
            <div class="ptd-search-status-selector" style="display:none;">
                <select multiple="true" class="ptd-search-status" name="status">
                    <option value="active">Active</option>
                    <option value="unreviewed">Unreviewed</option>
                    <option value="candidate">Candidate</option>
                    <option value="draft">Draft</option>
                    <option value="deleted">Deleted</option>
                </select>
            </div>
        </div>

        <div class="medium-2 column">
            {{>language}}
        </div>

        <div class="medium-4 column">
            <div class="row collapse ptd-search-form">
                <div class="medium-1 column ptd-icon">
                    <div class="foundicon-general-search"></div>
                </div>
                <div class="medium-9 column">
                    <input type="text" class="ptd-search-query" placeholder="filter results" tabindex="0"/>
                </div>
                <div class="medium-1 column">
                    <span class="foundicon-general-remove ptd-clear-button" title="Click to remove your search filter."></span>
                </div>
                <div class="medium-1 column">
                    <a href="#" class="button ptd-search-button postfix radius" tabindex="0">GO</a>
                </div>
            </div>
        </div>
    </div>
</div>