<p>Use the form below to create an account for the Preference Terms Dictionary (you will need to verify your email address before you can log in).</p>

<form class="signup-form" method="POST">
    <label for="username">Username:</label>
    <input id="username" type="text" tabindex="1" name="username" placeholder="Enter your username...">

    <label for="email">Email Address:</label>
    <input id="email" type="text" tabindex="2" name="email" placeholder="Enter your email address...">

    <label for="password">Password:</label>
    <input id="password" type="password" tabindex="3" name="password">

    <label for="confirm">Retype Password:</label>
    <input id="confirm" type="password" tabindex="4" name="confirm">

    <input type="submit" tabindex="5" class="button login-button" value="Sign Up">
</form>

<p>Can't remember your username or password?  <a href="reset">Reset your password.</a></p>

<p>Have an account?  <a href="signin">Sign in now.</a></p>