<div class="version-block">
    {{#if record.version}}
        <span class="version">
            v. {{record.version}}
        </span>
    {{/if}}
    {{record.status}}
    <span class="ptd-icon-">{{record.status}}</span>
</div>