<div class="version-block">
    {{#if version}}
        <span class="version">
            v. {{version}}
        </span>
    {{/if}}
    {{status}}
    <span class="ptd-icon-">{{status}}</span>
</div>